@page "/"

<Container>
    <Heading Size="HeadingSize.Is1">The Technical Debt Game</Heading>

    <Heading Size="HeadingSize.Is3">Gameplay Instructions</Heading>
    <Paragraph>
        Each team should have a Tech Debt Game Chart. The theoretical capacity is always 60 points.
        You will require the supporting document of iteration scenarios in order to run this simulated example.
    </Paragraph>
    <Paragraph>Repeat these steps for 5 Iterations, with the goal to maximize the Feature Story Points completed.</Paragraph>

    <Modal @ref="_endOfIterationModal">
        <ModalBackdrop/>
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle> End of Iteration @_iterationManager.LastIteration.Number</ModalTitle>
                <CloseButton Clicked="@HideModal"/>
            </ModalHeader>
            <ModalBody>
                <Container Fluid="true">
                    <Row>
                        @_iterationManager.LastIteration.GameCard.Scenario
                    </Row>
                    <Row>
                        <Column ColumnSize=ColumnSize.Is6.Is3.WithOffset>
                            @if (_iterationManager.LastIteration.GameCard.Cost > 0)
                            {
                                <Card Margin="Margin.Is3">
                                    <CardHeader>New Tech Debt</CardHeader>
                                    <CardBody>
                                        <CardText>Cost = @_iterationManager.LastIteration.GameCard.Cost</CardText>
                                        <CardText>Impact = @_iterationManager.LastIteration.GameCard.Impact</CardText>
                                    </CardBody>
                                </Card>
                            }

                            else
                            {
                                <Card Margin="Margin.Is3">
                                    <CardHeader>No new Tech Debt :-)</CardHeader>
                                </Card>
                            }
                        </Column>
                    </Row>
                </Container>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Clicked="@HideModal">Close</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Row>
        <Column ColumnSize="ColumnSize.Is2">
            <div id="iterationCards">
                <Button Color="Color.Primary" Clicked="@EndIteration" Block="true">
                    Next Iteration
                </Button>
            </div>

        </Column>
        <Column ColumnSize="ColumnSize.Is10">
            <Table Narrow="true" Hoverable="true" >
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell><Text Alignment="TextAlignment.Center">Iteration number</Text></TableHeaderCell>
                        <TableHeaderCell><Text Alignment="TextAlignment.Center">Team total capacity</Text></TableHeaderCell>
                        <TableHeaderCell><Text Alignment="TextAlignment.Center">Tech debt impact on capacity</Text></TableHeaderCell>
                        <TableHeaderCell><Text Alignment="TextAlignment.Center">Available capacity</Text></TableHeaderCell>
                        <TableHeaderCell><Text Alignment="TextAlignment.Center">Feature points complete</Text></TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var iteration in _iterationManager.Iterations)
                    {
                        @if (iteration == _iterationManager.CurrentIteration)
                        {
                            <TableRow Background=Background.Danger TextColor=TextColor.White>
                                <TableRowHeader><Text Alignment="TextAlignment.Center">Proposed @iteration.Number</Text></TableRowHeader>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.TotalCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.TechDebtImpactOnCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.AvailableCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.FeaturePointsComplete</Text></TableRowCell>
                            </TableRow>
                        }
                        else
                        {
                            <TableRow>
                                <TableRowHeader><Text Alignment="TextAlignment.Center">@iteration.Number</Text></TableRowHeader>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.TotalCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.TechDebtImpactOnCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.AvailableCapacity</Text></TableRowCell>
                                <TableRowCell><Text Alignment="TextAlignment.Center">@iteration.FeaturePointsComplete</Text></TableRowCell>
                            </TableRow>
                        }
                    }
                </TableBody>
            </Table>
        </Column>
    </Row>

    <div id="technicalDebtCards"></div>
    <div id="featureCards_Cost15"></div>
    <div id="featureCards_Cost10"></div>
    <div id="featureCards_Cost5"></div>

    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success">
                Proposed Iteration @_iterationManager.CurrentIteration.Number
            </Heading>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Costs to pay</TableHeaderCell>
                        <TableHeaderCell>Tech debt outstanding</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableRowCell/>
                        <TableRowCell/>
                    </TableRow>
                </TableBody>
            </Table>
        </Column>
    </Row>
</Container>

@code {
    private Modal _endOfIterationModal;

    private readonly IterationManager _iterationManager;

    public Index()
    {
        _iterationManager = new IterationManager(new CardManager());
    }


    private void ShowModal()
    {
        _endOfIterationModal.Show();
    }

    private void HideModal()
    {
        _endOfIterationModal.Hide();
    }

    public void EndIteration()
    {
        _iterationManager.StartNewIteration();
        ShowModal();
    }

}