@page "/"

<Container>
    <h1>The Technical Debt Game</h1>

    <h3>Gameplay Instructions</h3>
    <p>
        Each team should have a Tech Debt Game Chart. The theoretical capacity is always 60 points.
        You will require the supporting document of iteration scenarios in order to run this simulated example.
    </p>
    <ol>
        <li>Add up the Impact of all currently outstanding Tech Debt cards. For the first iteration, this will always be 35 points. Record this on the chart under Technical Debt Impact as -35 points. Compute the actual capacity for the team for this iteration (which will be 25 points in the first iteration).</li>
        <li>Plot the Technical Debt Impact on the chart (35 points for the first iteration).</li>
        <li>Plan your iteration by selecting how many points to spend on Features and how many to spend eliminating Tech Debt (each Tech Debt card has a Cost, which is the number of points required to resolve it). The total points you can spend in any iteration must be equal to the Actual Capacity from step #1.</li>
        <li>Have the team select a random number between 1-10. Read the corresponding scenario from the scenarios document and then add the required changes to the Iteration table in the bottom left of this board.</li>
    </ol>
    <p>Repeat these steps for 5 Iterations, with the goal to maximize the Feature Story Points completed.</p>

    <Modal @ref="_endOfIterationModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="True">
            <ModalHeader>
                <ModalTitle> End of Iteration @_iterationManager.LastIteration.Number</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
            @_iterationManager.LastIteration.Card.Scenario
            <Row>
                <Column ColumnSize="ColumnSize.Is6">
                    <Card>
                        <CardBody>
                            <CardTitle Size="5">Cost = @_iterationManager.LastIteration.Card.TechDebtCard.Cost</CardTitle>
                        </CardBody>
                    </Card>
                </Column>
                <Column ColumnSize="ColumnSize.Is6">
                    <Card>
                        <CardBody>
                            <CardTitle Size="5">Impact = @_iterationManager.LastIteration.Card.TechDebtCard.Impact</CardTitle>
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Clicked="@HideModal">Close</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <div id="iterationCards">
                <Button Color="Color.Primary" Clicked="@EndIteration">
                    Next Iteration
                </Button>
            </div>

        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Table Narrow="true">
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Iteration number</TableHeaderCell>
                        <TableHeaderCell>Team total capacity</TableHeaderCell>
                        <TableHeaderCell>Tech debt impact on capacity</TableHeaderCell>
                        <TableHeaderCell>Available capacity</TableHeaderCell>
                        <TableHeaderCell>Feature points complete</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var iteration in _iterationManager.iterations)
                    {
                        <TableRow>
                            <TableRowHeader>@iteration.Number</TableRowHeader>
                            <TableRowCell>@iteration.TotalCapacity</TableRowCell>
                            <TableRowCell>@iteration.TechDebtImpactOnCapacity</TableRowCell>
                            <TableRowCell>@iteration.AvailableCapacity</TableRowCell>
                            <TableRowCell>@iteration.FeaturePointsComplete</TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        </Column>
    </Row>

    <div id="technicalDebtCards"></div>
    <div id="featureCards_Cost15"></div>
    <div id="featureCards_Cost10"></div>
    <div id="featureCards_Cost5"></div>

    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success">
                Proposed Iteration @_iterationManager.CurrentIteration.Number
            </Heading>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Costs to pay</TableHeaderCell>
                        <TableHeaderCell>Tech debt outstanding</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableRowCell/>
                        <TableRowCell/>
                    </TableRow>
                </TableBody>
            </Table>
        </Column>
    </Row>
</Container>

@code {
    private Modal _endOfIterationModal;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _iterationManager.InitialiseIterations();
    }

    private readonly IterationManager _iterationManager;

    public Index()
    {
        _iterationManager = new IterationManager();
    }


    private void ShowModal()
    {
        _endOfIterationModal.Show();
    }

    private void HideModal()
    {
        _endOfIterationModal.Hide();
    }

    public void EndIteration()
    {
        _iterationManager.StartNewIteration();
        ShowModal();
    }

}